<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Industrial Real Estate</title>
</head>
<style>
.card {
    width: 30%; 
    margin: 1%; /* Add a little margin between cards */
    box-sizing: border-box; /* Include padding and border in the width */
    border:1px solid #ccc;
  }
</style>
<body>
<h1>Industrial Real Estate</h1>



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Industrial Real Estate</h3>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz98RUu-rhGF9AUaH-Nt0giNSuHsmaxr8UdA&usqp=CAU" alt="Avatar" style="width:100%">
    <p class="card-text">selling Price : $50</p>
<a href="" class="buy-button">Sell</a>
    
  </div>
</div>


</body>
</html>